/*DATA1200 Home Exam 2023*/

/*DIVERSE*/

/* Custom property om farger som kan gjenbrukes flere steder, enklere å endre senere og gjøre darkmode */
/* Inspirert av Tengel presentasjon, eksempel nettside i faget og Mozilla web docs*/
:root {
    --main-color: #15856d;
    --main-font-color: black;
    --main-background-color: white;
    --secondary-background-color: #f0f0f0;
    --topical-navbar-h2-background-color: rgb(80, 128, 169);
    --topical-navbar-a-background-color: rgb(243, 250, 255);
    --topical-a-color: rgb(77,77,255);
    --topical-a-color-visited: #551A8B;

}

/* Darkmode som blir aktivert når device er satt til darkmode */
/* Inspirert av Tengel presentasjon og eksempel nettside i faget */
@media (prefers-color-scheme: dark) {
    :root {
        --main-background-color: #212121;
        --main-font-color: #eeeeee;
        --secondary-background-color: #292929;
        --topical-navbar-h2-background-color: rgb(10, 47, 80);
        --topical-navbar-a-background-color: rgb(12, 59, 100);
        --topical-a-color: #58a6ff;
        --topical-a-color-visited: rgb(182, 97, 255);
    }
}

/* Skroller smooth når det scrolles via linker til andre steder på siden, gjelder alle elements*/
* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background-color: var(--main-background-color);
}

main {
    color: var(--main-font-color);
    background-color: var(--main-background-color);
}

/* Img fyller det elementet det er inni */
img {
    width: 100%;
    height: auto;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    margin-top: 0.05rem;
    font-size: 0.88rem;
}

/*OVERSKRIFTER*/

/*PARAGRAFER*/

/* For accessibility, gjør tekst enklere å lese */
p {
    line-height: 1.5;
}

/*DIVs*/

/*HEADER*/
/* NAV BAR */

/* Hoved flexboks navbar */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    padding-left: 20px;
    padding-right: 20px;
    max-height: 60px;
}

/* Flex for at nav linker list blir fordelt jevnt utover */
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
}

/* Style lenkene i navbar */
.menu a {
    display: block;
    padding: 20px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

/* Lenker navbar bakgrunn mørere under hover */
.menu a:hover {
    backdrop-filter: brightness(75%);
}

/* Kontakt knapp i navbar styling */
.contact-button {
    background-color: skyblue;
    color: black;
    border-radius: 30px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-weight: bold;
}

.contact-button:hover {
    background-color: cadetblue;
}

/* Secondær flexbox med logo/hamburger, slik at de blir fordelt på navbar separat fra linke liste */
.logo-hamburger-wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 60px;
}

/* Nav Logo størrelse */
#nav-logo {
    height: 40px;
    width: auto;
    padding: 10px;
}

/* Hamburger meny vises ikke */
.hamburger-toggle-container {
    display: none;
}

/* Hamburger meny ikon */
.hamburger-icon {
    display: block;
    background-image: url(../images/menu.png);      /* KANSJE FLYTTE TIL HTML */
    background-size: cover;
    height: 60px;
    width: 60px;
}

/* Hamburger meny checkbox input normal sjult. Posisjonert der hamburgermeny er*/
#hamburger-toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 5px;
    right: 25px;
    margin: 0;
}

/* Outline rundt hamburgermeny når den er i fokus med tastatur, men ikke med mus.*/
/* :has() er CSS 4 ikke 3 men trengs fordi hvordan hamburgermeny/navbar setup er.
   Nettlesere som støtter :has() støtter også :focus-visible, så trenger ikke @supports rule da ingenting skjer
   hvis :has() ikke støttes. Det er ikke site-breaking.
   :has() støttes: Chrome/Safari fra september 2022/Firefox versjon 121 fra desember 2023 */
/* Inspirert av: https://unused-css.com/blog/css-only-hamburger-menu/
                 https://developer.mozilla.org/en-US/docs/Web/CSS/:has */
/*nav:has(#hamburger-toggle:focus-visible) .hamburger-toggle-container{*/
/*    outline: auto;*/
/*}*/

/* Støtte for outline: auto er god, så det holder*/
#hamburger-toggle:focus ~ .logo-hamburger-wrapper .hamburger-toggle-container{
    outline: auto;
}

/* Støtte for :focus-visible er bare siden 2020-2022 så sjekker om den støttes, hvis det gjør det,
   blir outline sjult når den er i fokus av mus og ikke tastatur*/
@supports selector(:focus-visible) {
    #hamburger-toggle:not(:focus-visible) ~ .logo-hamburger-wrapper .hamburger-toggle-container{
        outline: none;
    }
}

/* Sjuler linker på navbar og viser hamburger meny knapp når bredde er mindre enn 800px*/
@media (max-width: 810px) {
    /* Meny blir vertikal istedenfor horisontal */
    nav {
        flex-direction: column;
        align-items: normal;
        max-height: none;
    }

    /* Navigasjons meny linker vises ikke */
    .menu {
        display: none;
        padding-left: 0;
    }

    /* Kontakt knappen blir skjult */
    .contact-button {
        display: none;
    }

    /* Hamburger meny blir synlig */
    .hamburger-toggle-container {
        display: block;
        cursor: pointer;
    }

    /* Hamburger checkbox er der men er usynelig, for at den skal være valgbar med tastatur/tab */
    #hamburger-toggle{
        display: block;
        opacity: 0;
    }

    /* Når checkbox er aktivert blir Navigasjons meny linker synlig*/
    #hamburger-toggle:checked ~ .menu {
        display: block;
    }

    /* Bytter ut hamburger ikon når menyen er åpen */
    #hamburger-toggle:checked ~ .logo-hamburger-wrapper .hamburger-icon{
        background-image: url(../images/logo-oslomet-svart.svg);
    }
}


/* FLEX-CONTAINER FORSIDE */

/* utility class for å legge content inni hver seksjon horisontalt på homepage og holde det consistent for hver del*/
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 85%;
}

/*main flex container for content på home-page*/

.home-main-flex-container {
    display: flex;
    flex-direction: column;

}

/* base style for hver av seksjonene på homepage */

.home-main-flex-container section{
    /*padding-top: 100px; */
    padding-right: 0;
    padding-left: 0;
    /*padding-bottom: 100px; */
}

.hero-flex {
    display: flex;
    height: 100vh;
    background: url('../images/forsidebilde-arkitektur-p32/arkitektur-p32-skjalg-bøhmer-vold-square-large.jpg') no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.hero-text h1{
    font-size: 5.5rem;
    display: flex;
    font-weight: 900;
    color: white;
}

.hero-text h2{
    font-size: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/*.bilde-tekst {
    position: absolute;
    top: 50%;
    color: white;
    width: 100%;
    right: 50%;
    transform: translate(50%, -50%);
    text-shadow: black 0 0 4px;
    font-size: 2rem;
    background: #777;
}

.item1-mainpage img {
    filter: blur(3px);
} */

/*TOPICAL PAGE*/

/* Grid-container her, der vi definerer en grid med to kolonner */
/* Bruk av grid-auto-flow for automatisk plassering av grid items slik de har blitt plassert på HTML,
som reduserer hvor mye koding som trengs for plassering */
.topical-grid {
    display: grid;
    grid-template-columns: auto minmax(200px, 15vw);
    grid-auto-flow: row;
    grid-column-gap: 60px;
    max-width: 1300px;
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 2.3em;
    font-family: Calibri, serif;
    font-weight: normal;
    margin-right: auto;
    margin-left: auto;
}

.headline {
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: center;
}

/* Vi gjør overskriften mer tydelig, sentrert og litt større avstand på bokstavene for lettere lesing */
.headline h1 {
    padding-top: 0.2em;
    border-bottom: 2px solid;
    text-align: center;
    font-weight: bolder;
    font-size: 2.3rem;
    letter-spacing: 0.09em;
}

.headline p {
    font-weight: 550;
}

.sidenav {
    grid-column: 2;
    grid-row: 2/4;
}

.sidenav h2 {
    background-color: var(--topical-navbar-h2-background-color);
    padding: 15px;
    text-align: center;
    margin-bottom: 0;
    color: white;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav ul a {
    padding: 15px;
    display: block;
    border-bottom-style: solid;
    border-color: black;
    text-align: center;
    text-decoration: none;
    color: var(--main-font-color);
    background-color: var(--topical-navbar-a-background-color);
}

.sidenav ul a:hover {
    background-color: dimgray;
    color: white;
}

/* Her sier vi at grid-item main-bar som inneholder teksten skal holde seg innenfor første kolonnen. Grid-auto-flow tar
seg av resten */
.main-bar {
    grid-column: 1;
}


.topical-img {
    padding-top: 20px;
}

.topical-img-with-text {
    width: 50%;
    float: right;
    padding-left: 30px;
    padding-bottom: 10px;
}

#author {
    color: orangered;
}

/* Vi skaper større kontraster for hyperlinks på dark mode, samtidig som vi beholder fargene assosiert med hyperlinks */
.main-bar a {
    color: var(--topical-a-color);
}
.main-bar a:visited {
    color: var(--topical-a-color-visited);
}

/* Vi bruker media queries slik at layouten passer bedre for de på mobile-view */
/* Bruk av grid-auto-flow igjen for mobile-view */
@media (max-width: 760px) {
    .topical-grid {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        max-width: none;
    }

    .headline {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }

    .topical-img-with-text {
        float: none;
        width: 100%;
        padding-left: 0;
    }

    .sidenav {
        grid-column: 1;
        grid-row: 2;
    }
}


/* LOCATION PAGE*/

/* Main flexbox, for blant annet å gjøre slik at overskrift passer strukturen til content i location-flex*/
.location-main-flex {
    display: flex;
    flex-direction: column;
}

/* Sørger for at h1 er riktig bredde forhold til de andre elementene */
.location-main-flex h1 {
    box-sizing: border-box;
    align-self: center;
    max-width: 1300px;
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-bottom: 0.2em;
    font-size: 2.5rem;
}

/* Normalt horisontal flexbox for to bokser, som er sentrert
   Inneholder location-img og locaiton-text */
.location-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
}

/* To bokser inni location-flex, gjør at de er like store*/
.location-img,
.location-text{
    flex-basis: 50%;
    box-sizing: border-box;
    max-width: 650px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* Er inni location-flex, inneholder bilde/bildetekst
   position for å kompensere for bildetekst */
.location-img {
    position: relative;
    top: 0.66rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Er inni location-flex, inneholder ovserktift/tekst */
.location-text {
}

/* Endrer location-flex flexbox til å være vertikal når viewport mindre enn 760px (Mobil) */
@media only screen and (max-width: 760px) {
    .location-flex {
        flex-direction: column;
    }

    .location-img,
    .location-text {
        max-width: none;
    }
}

/* Gjør bakgrunnen på annenhver sibling element (child av parent element) til en annen farge
(main secondary background color) */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */
.location-flex:nth-child(odd) {
    background-color: var(--secondary-background-color);
}

/* Bytter om på rekkefølgen på annenhver sibling element hvis viewport 761px eller bredere*/
@media only screen and (min-width: 761px) {
    .location-flex:nth-child(even) .location-img {
        order: 2;
    }

    .location-flex:nth-child(even) .location-text {
        order: 1;
    }
}

/* ACCESSIBILITY SIDE */

.accessibility-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
}

.accessibility-text,
.accessibility-image{
    flex-basis: 50%;
    box-sizing: border-box;
    max-width: 650px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.accessibility-text{
}

.accessibility-image{
}

.accessibility-text-only{
    flex-basis: 100%;
    box-sizing: border-box;
    max-width: 1300px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.accessibility-flex:nth-child(even){
    background-color: var(--secondary-background-color);
}

@media (max-width: 760px) {
    .accessibility-flex{
        flex-direction: column;
    }

    .accessibility-image,
    .accessibility-text{
        max-width: none;
    }
}

/* FOOTER */
/* Setter fooder på bunn av siden og at bredden skal være 100% */
footer {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color:var(--main-color) ;
    padding-bottom: 2%;
}

footer h3{
    font-size: 1.55rem;
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Grid kode tatt fra: https://www.w3schools.com/css/css_grid.asp*/
/* endrer på alle grid, og sentrerer tekst */
.footer-grid-objects {
    text-align: left;
    padding-left: 25px;
}

/* Setter posisjon på item 1 og setter opp en ny grid i objektet */
.newsletter {
    grid-column: 1/3;
    grid-row: 1;
    border-bottom: 1px solid;
    border-bottom-color: black;
    font-weight: bold;
    font-size: 1.55rem;
}

.newsletter-button{
    grid-row: 1;
    grid-column: 3/4;
    text-align: right;
    border-bottom: 1px solid;
    border-bottom-color: black;
    padding-top: 25px;
    padding-right: 15px;
}

/* design til knappen */
.button {
    padding: 3px;
    color: yellow;
    background-color: black;
    text-decoration: none;
    font-size: 1.55rem;
}

.button:hover {
    text-decoration: underline;
}

.contact-information{
    grid-row: 2;
    grid-column: 1/2;
}
.contact-information a{
    color: lightblue;
}

.site-links{
    grid-row: 2;
    grid-column: 2/3;
}

.site-links p {
    font-size: 1.25rem;
    font-weight: 550;
}

.site-links a {
    text-decoration: none;
    color: black;
}

.site-links a:hover {
    text-decoration: underline;
}

.social-media-links {
    grid-row: 2;
    grid-column: 3/4;

}

.social-media-links a {
    display: block;
    padding-bottom:5%;
    text-decoration: none;
    color: black;
}

.social-media-links a:hover {
    text-decoration: underline;
}

/* Ikon kode tatt fra:
https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
*/
.fa {
    width: 15px;
    border-radius: 50%;
    padding: 10px;
    margin-right: 2%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fa-facebook {
    background-color: #3B5998;
}

.fa-twitter {
    background-color: #55ACEE;
}

.fa-instagram {
    background-color: #125688;
}

.fa-youtube {
    background-color: #bb0000;
}

/* Slutt på ikonkode */

/* Når siden er mindre enn 760 px skal grid stackes */
@media (max-width: 760px) {
    .footer-grid {
        grid-template-columns: 1fr;
    }
/* Setter plassen til grid, og fjerner underlinja til gridden */
    .newsletter {
        grid-row: 1;
        grid-column: 1;
        border-bottom: 0;
    }
    /* Setter posisjon og legger til underlinje i grid */
    .newsletter-button{
        grid-row: 2;
        grid-column: 1;
        text-align: left;
        border-bottom: 1px solid;
        border-bottom-color: black;
        padding: 0 0 3% 3%;
    }

    .contact-information{
        grid-row: 3;
        grid-column: 1;
    }

    .site-links{
        grid-row: 4;
        grid-column: 1;
    }

    .social-media-links {
        grid-row: 5;
        grid-column: 1;
        text-align: left;
    }

    .social-media-links a {
        padding: 1%;
    }
}
