/*DATA1200 Home Exam 2023*/

/* Hadde kyst til å bruke CSS nesting  som ble CSS spec veldig nylig https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_nesting*/
/*Men tengel sa at vi skulle unngå å bruke det */


/*DIVERSE*/

/* Custom variable/property om farger som kan gjenbrukes flere steder, enklere å endre senere hvis man vil */
/* inspirert av Tengel presentasjon og eksempel nettside i faget */
:root {
    --main-site-colour: #fde008;
    --main-site-background-colour: white;
    --main-site-secondary-background-colour: #dddddd;
    --main-site-font-colour: black;
}

/* Darkmode som blir aktivert når device er satt til darkmode*/
/* Inspirert av Tengel presentasjon og eksempel nettside i faget */
@media (prefers-color-scheme: dark) {
    :root {
        --main-site-background-colour: #222222;
        --main-site-font-colour: #eeeeee;
        --main-site-secondary-background-colour: #333333;
    }
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;

}

main {
    color: var(--main-site-font-colour);
    background-color: var(--main-site-background-colour);
}


img {
    width: 100%;
    height: auto;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    margin-top: 0;
    padding-top: 0;
    font-size: 0.88rem;

}

/*OVERSKRIFTER*/


/*PARAGRAFER*/
.ingress {
    font-weight: 550;
    color: darkslategray;
}

/*SPANS*/


/*DIVs*/

/*HEADER*/

/* Logo position and image size */
#logo-position {
    /* float: left; */
    height: 40px;
    width: auto;
    padding:20%;
    /* position: absolute; */
}

/* HAMBURGER MENU */
#burger-toggle {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.contact-button {
    background-color: skyblue;
    color: black;
    border-radius: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact-button:hover {
    background-color: green;
}

.menu-icon {
    display: block;
    background-image: url(../images/menu.png);
    background-size: cover;
    height: 40px;
    width: 40px;
}

.navbar {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
/* kode for å passe på at hamburger icon ikke dukker opp før nettsiden scaler til andre decvices enn desktop */

.hamburger-toggle-container {
    display: none;
}


@media (max-width: 800px) {

    nav {
        display: flex;
        /*height: 40px;*/
    }

    .navbar {
        flex-direction: column;
        align-items: normal;
    }

    .menu {
        display: none;
        list-style-type: none;
        position: sticky;
        padding-left: 0;
    }


    .hamburger-toggle-container {
        cursor: pointer;
        display: block;
    }

    /* dette gjør at kontakt-knappen til høyre i navigasjonsbaren ikke er synlig i navigasjonen når den scaler til tablet/mobil */
    .contact-button {
        display: none;
    }


    #burger-toggle:checked ~ .menu {
        display: block;
    }

}

.logo-burger-wrapper {
    display: flex;
    justify-content: space-between;
}

/* NAV BAR*/


/* skal style listen i klassen .navbar.*/


/* skal style lenkene som vi har i nav class navbar */

.menu a {
    color: black;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

/* hover på lenkene i navbar*/

.menu a:hover {
    background-color: #cfcfd3;
}

/*TOPICAL PAGE*/

.topical-overskrift {
    font-family: "Gill Sans MT", serif;
    font-weight: bolder;
    font-size: 1.8rem;
}


.topical-grid {
    display: grid;
    grid-template-columns: minmax(130px, 15%) auto;

    margin-bottom: 2em;
    font-family: Calibri, serif;
    font-weight: normal;

}

.main-bar {
    grid-column: 2/3;
    margin-right: 4%;
    margin-left: 4%;

}

.sidenav {
    grid-column: 1/2;
    margin-left: 4%;
    margin-right: 4%;

    background-color: #f1f1f1;
}

/* <!-- må sette media queries for ulike størrelser, 700 px for mobil kanskje og 1005 -->
 <!-- laste ned samme bilde i ulike størrelser -->*/
@media (max-width: 700px) {
    .topical-grid {
        grid-template-columns: 1fr;


    }

    .main-bar {
        grid-column: 1;
        grid-row: 2;
    }

    .sidenav {
        grid-column: 1;
        grid-row: 1;
    }
}

.sidenav a {
    padding: 10px;
    display: block;
    color: chocolate;
}

.sidenav a:hover {
    color: white;
    background-color: dimgray;
}

.punkter {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.over-skrift {
    border-bottom: 2px solid;
    border-bottom-color: chocolate;
    background-color: goldenrod;
    color: navy;

}

.andrebox {
    background-image: url(../images/satelitt-bilde.jpg);
    background-size: cover;
    width: 85vw;
    height: 50vw;

}


/* LOCATION PAGE*/


/* Main flexbox, for å gjøre slik at overskrift passer med content under*/
.location-main-flex {
    /*display: flex;*/
    /*flex-direction: column;*/
}

.location-main-flex h1 {
    box-sizing: border-box;
    /*align-self: center;*/
    /*flex: 1 1;*/
    max-width: 1200px;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin: auto;
    font-size: 2.5rem;
}

/* Horisontal flexbox for to bokser, som er sentrert*/
.location-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
}

.location-flex-img {
    /*flex: 1 1 auto;*/
    flex-basis: 50%;
    box-sizing: border-box;
    max-width: 600px;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    /*padding-top: 1.6rem;*/
    position: relative;
    top: 0.65rem;
}

.location-flex-text {
    /*flex: 1 1 auto;*/
    flex-basis: 50%;
    box-sizing: border-box;
    max-width: 600px;
    padding-left: 4%;
    padding-right: 4%;

}

/* Endrer flexboks til å være vertikal når viewport mindre enn 700px  */
@media only screen and (max-width: 700px) {
    .location-flex {
        flex-direction: column;
    }

    .location-flex-img {
        max-width: 700px;
    }

    .location-flex-text {
        max-width: 700px;
    }
}

/* Gjør bakgrunnen på annenhver child element til en annen farge (main secondary background color) */
.location-flex:nth-child(odd) {
    background-color: var(--main-site-secondary-background-colour);
}

/* Bytter om på rekkefølgen på annenhver child element (nr 2,4 osv) hvis viewport er bredere enn 701 px)*/
@media only screen and (min-width: 701px) {
    .location-flex:nth-child(even) .location-flex-img {
        order: 2;
    }

    .location-flex:nth-child(even) .location-flex-text {
        order: 1;
    }
}


/* GRID FRONT PAGE */
/* Grid kode tatt fra https://www.w3schools.com/css/css_grid.asp */


.grid-mainpage {
    display: grid;
    background-color: #5f788c;
}

.item1-mainpage {
    grid-column: 1 / span 3;
    grid-row: 1;
    position: relative;
    text-align: center;

}

.bilde-tekst {
    position: absolute;
    top: 50%;
    color: white;
    width: 100%;
    right: 50%;
    transform: translate(50%, -50%);
    text-shadow: black 0 0 4px;
    font-size: 2rem;
    /*background: #777;*/
}

.item1-mainpage img {
    /*filter: blur(3px);*/
}

.item2-mainpage {
    grid-column: 3;
    grid-row: 2 / span 3;
    background-color: #718a9b;
    padding: 20px;
    margin-bottom: 40px;
}

.item3-mainpage {
    grid-column: 1 / span 3;
    grid-row: 3;
    text-align: left;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 40px;
}

.item3-mainpage p {
    font-weight: lighter;
}

/*ACCESSIBILITY SIDE*/

.mainAccessibility {
    background-color: var(--main-site-background-colour);
}

.accessibilityTekst {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-site-background-colour);
    padding-left: 2%;
    padding-right: 2%;
}

.accessibilityGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.acGridItem1 {

}

.acGridItem2 {
    background-color: lightgrey;
    align-items: center;
}

@media (max-width: 700px) {
    .accessibilityGrid {
        grid-template-columns: 1fr;
    }

    .acGridItem1 {
        grid-column: 1;
    }

    .acGridItem2 {
        grid-column: 1;
    }
}

/*FOOTER*/
/*Setter fooder på bunn av siden og at bredden skal være 100%*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;

}

/* Grid kode tatt fra: https://www.w3schools.com/css/css_grid.asp*/
.footerGrid {
    display: grid;
    grid-template-columns: auto;
    padding: 0 2% 2%;
    background-color: #8899a4;
}

.footerGrid-item {
    text-align: left;
    padding: 20px;
}

/*Setter posisjon på item 1 og setter opp grid i objektet*/
.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    border-bottom: 1px solid;
    border-bottom-color: black;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

.item1item1 {
    grid-row: 1;
}

.item1item2 {
    grid-row: 1;
    text-align: right;
}

.item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.item2 a {
    display: block;
    padding: 5%;
    text-decoration: none;
    color: black;
}

.item2 a:hover {
    text-decoration: underline;
}

.item4 a {
    text-decoration: none;
    color: black;
}

.item4 a:hover {
    text-decoration: underline;
}

.item4 b {
    font-size: 20px;
}

/*Når siden er mindre enn 1005 px skal grid stackes*/
@media (max-width: 1005px) {
    .footerGrid {
        grid-template-columns: 1fr;
    }

    .item1 {
        grid-row: 1;
        grid-column: 1;
    }

    .item1item1 {
        grid-row: 1;
        grid-column: 1;
    }

    .item1item2 {
        grid-row: 2;
        grid-column: 1;
        text-align: left;
    }

    .item2 {
        grid-row: 2;
        grid-column: 1;
        text-align: left;
    }

    .item2 a {
        padding: 1%;
    }

    .item3 {
        grid-row: 3;
        grid-column: 1;
    }

    .item4 {
        grid-row: 4;
        grid-column: 1;
    }
}

/*https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
 Ikon kode tatt fra ^
 */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 2%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

/*Slutt på ikonkode*/
footer b {
    font-size: 25px;
}

.knapp {
    color: var(--main-site-colour);
    text-decoration: none;
    font-size: 23px;
    background-color: black;
    padding: 3px;
}

.knapp:hover {
    text-decoration: underline;
}
