/*DIVERSE*/
body{

}

main {

}

/*OVERSKRIFTER*/



/*PARAGRAFER*/




/*SPANS*/




/*DIVs*/



/* NAV BAR*/

/* skal style listen i klassen .navbar.*/

.navbar ul {
    list-style-type: none;
    background-color: lightblue;
    padding: 0;
    margin: 0;
}



/*FOOTER*/